/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #FFFFFF;
  font-size: 1.5em;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #FFFFFF;
}

.parallax-container {
  min-height: 750px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.third-parallax {
  padding-top: 300px;
}

.last-parallax {
  padding-top: 400px;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.big-day {
  font-family: lato;
}

.times {
  font-size: 1.4em;
  padding-top: 10px;
}

.hotel {
  margin-top: 30px;
}

.registry-container {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}

.registry {
  width: 50%;
  float: left;
}

.store {
  max-width: 350px;
}

@media screen and (max-width: 1200px) {
    #caroline {
      font-size: 1.3em;
    }

  .registry {
    width: 100%;
    float: none;
  }

  .store {
    max-width: 100%;
    max-width: 300px;
  }

  .macys {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1020px) {
   #image3 {
    left: 300px;
  }

}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 50px;
  }
  #index-banner .section {
    top: 20%;
  }

  iframe {
    width: 90%;
    margin: 2em auto;
  }
}

@media only screen and (max-width: 725px) {
    .address {
      display: inline-block;
      float: none;
      margin-bottom: 2em;
      text-align: center;
    }

    .stonehouse {
      margin: 0;
    }

    #image3 {
      background-image: center;
    }
}

@media only screen and (max-width: 650px) {

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
    margin: 0 0.5em;
  }

  .parallax-container {
    top: 43px;
  }

  #image1 {
    right: 200px;
  }

  #image3 {
    left: 600px;
    top: -150px;
  }

  #image6 {
    left: 375px;
  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  backround-color: #563951;
}

footer h2 {
  font-size: 1.5em;
  text-shadow: none;
  font-family: lato;
}